<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        title Hoja de papel
    body
        .paper
            h1 Tareas
            ul
                li Aprender Pug
                li Aprender sass
                li Aprender firebase
                li Aprender a crear aplicaciones en vuejs, reactjs y angular 6+